.navbar{
  width: 100%;
  background: #000000;
}
.nav-btn{
  width: 20%;
  padding: 1%;
  background: #000000;
  font-size: 18px;
  cursor: pointer;
  border-radius: none;
  border: none;
  transition: .25s ease-in-out;
  color: #aaa;
  font-family: 'Carter One', cursive;
}
.nav-btn:hover{
  background: #73C2FB;
  color: white;
}
.nav-logo{
  width: 70px;
  height: 70px;
  padding: 1%;
}
.drop-down#about{
  position: absolute;
  display: none;
  margin: 0 0 0 60%;
  width: 20%;
  text-align: center;
  transition: .35s ease-in-out;
}
.drop-down#services{
  position: absolute;
  display: none;
  margin: 0 0 0 40%;
  width: 20%;
  text-align: center;
  transition: .35s ease-in-out;
}
.drop-down#contact{
  position: absolute;
  display: none;
  margin: 0 0 0 20%;
  width: 20%;
  text-align: center;
  transition: .35s ease-in-out;
}
.drop-item{
  background: black;
  color: #aaa;
  padding: 1%;
  font-family: 'Carter One', cursive;
  transition: .3s ease-in-out;
  cursor: pointer;
  font-size: 15px;
}
.drop-item:hover{
  background: #73C2FB;
  color: #FFFFFF;
}
