.main-title{
  font-family: 'Carter One', cursive;
  font-size: 60px;
  width: 33%;
  padding: 1.5%;
  margin: 7% 0 0 5%;
  border: 1px solid #000000;
  background: white;
}
.main-title-desc{
  margin: 1% 0 0 12%;
  font-family: 'Abel', sans-serif;
  background: white;
}
.title-offer{
  position: absolute;
  border: 1px solid #000000;
  width: 35%;
  text-align: center;
  padding: 1%;
  font-size: 28px;
  margin: -11% 0 0 50%;
  background: #73C2FB;
  color: white;
  cursor: pointer;
  font-family: 'Abel', sans-serif;
}
.title-box{
  background-image: url('https://images-na.ssl-images-amazon.com/images/I/51RwfU9XYlL.jpg');
  background-size: auto;
  background-repeat: repeat;
}
